body {
  text-align: center;
  background-color: #011F3F;
  overflow: hidden;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  1% 5% 5%;
  color: #FEF2BF;
}

#start {
  box-shadow: 0px 0px 0px 2px #f75a00;
  background:linear-gradient(to bottom, #f70020 5%, #f75a00 100%);
  border:1px solid #f70020;
  border-radius: 100%;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Press Start 2P', cursive;
  font-size:15px;
  padding:10px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #f75a00;
  position: relative;
  width: 180px;
  height: 70px;
}

#start:hover {
	background:linear-gradient(to bottom, #f75a00 5%, #f70020 100%);
	background-color:#476e9e;
}
#start:active {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.row {
  width: 100%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.display-off{
  display: none !important;
}

@media screen and (min-width:300px) and (max-width:600px) {

  #level-title {
    font-size: 1.5rem;
    line-height: 2;
    margin: 1% 1% 5%;
  }

  #start {
    width: 160px;
    height: 50px;
  }

  .container{
    width: 100%;
  }

  .btn {
    height: 95px;
    width: 95px;
    margin: 12px;
  }
}

@media screen and (min-width:601px) and (max-width:1023px) {

  #level-title {
    font-size: 2rem;
    line-height: 1.2;
    margin: 8% 3% 3%;
  }

  .container{
    width: 100%;
  }

  .btn {
    height: 150px;
    width: 150px;
    margin: 15px 20px;
  }
}

@media screen and (min-width:1024px) and (max-width:1366px) {

  #level-title {
    font-size: 2.3rem;
    line-height: 2;
    margin: 5% 3% 3%;
  }

  .container{
    width: 100%;
  }

  .btn {
    height: 200px;
    width: 200px;
    margin: 30px 20px;
  }
}
